<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="application.properties" />
  <typeAliases>
    <typeAlias alias="BriefWeather" type="clickcloud.server.dto.BriefWeather" />
    <typeAlias alias="DetailedWeather" type="clickcloud.server.dto.DetailedWeather" />
    <typeAlias alias="List" type="java.util.List" />
    <typeAlias alias="String" type="java.lang.String" />
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis-mapper.xml" />
  </mappers>
</configuration>